<header class="site-header">
  <nav class="navbar">
    <div class="container nav-inner" style="color: rgb(83, 31, 31);">
      <a class="brand" href="index.html">ASHUTOSH<span></span></a>
      <button class="menu-btn" id="menuBtn" aria-label="Toggle navigation">☰</button>
      <div class="nav-links" id="navLinks" >
        <a href="index.html" style="color: #141419;">Home</a>
        <!-- <a href="about.html">About</a> -->
        <a href="skills.html" style="color: #141419;">Skills</a>
        <!-- <a href="projects.html">Projects</a> -->
        <a href="experience.html" style="color: #141419;">Experience</a>
        <a href="contact.html" style="color: #141419;">Contact</a>
        <!-- <button class="theme-btn" id="themeBtn" aria-label="Toggle theme">☾</button> -->
      </div>
    </div>
  </nav>
</header>